.overley {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal {
    width: 50%;
    background-color: #03122F;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 84px;
    padding-top: 84px;
    border: 5px solid #2271D1;
    position: absolute;
    top: 150px;
}

.modal h1 {
    font-size: 3.75rem;
    font-weight: 900;
    text-align: center;
    padding-top: 0;
    padding-bottom: 15px;
    margin: 0;
    color: #2271D1;
}

.sessaoCampos h2 {
    font-size: 2.25rem;
    font-weight: 600;
    font-family: #2271D1;
    margin: 0;
    padding-bottom: 60px;
}

.campos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    flex-shrink: auto;
}

.botoesModal {
    display: flex;
    gap: 30px;
    padding-top: 60px;
    justify-content: space-between;
}


label {
    color: #FFFFFF;
}

.iconeFechar {
    color: #FFFFFF;
    font-size: 50px;
    position: absolute;
    right: 0%;
    top: 3%;
    left: 93%;
    bottom: 95%;
    cursor: pointer;
}