.banner-container{
    max-width: 100%;
    /* background-repeat: no-repeat; */
    background-size: 100vw;
    background-repeat: repeat-y;
    border-radius: 0;
    width: 100%;
}

.banner-overlay{
    display: flex;
    justify-content: space-around;
    padding: 150px 20px 30px 20px;
    height: 55vh;
    background-color: rgba(0, 0, 0,0.76);
}

.banner-detalhes{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 40px;
}

.banner-detalhes div{
    margin-top: 20px;
}

.banner-categoria{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    border: transparent;
    border-radius: 15px;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 350px;
    color: #F5F5F5;
    text-align: center;
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-titulo{
    color: #F5F5F5;
    font-family: 'Roboto';
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-descricao{
    color: #F5F5F5;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.banner-video{
    width: 40vw;
}